<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="{% static 'css/stylebdd.css' %}" type="text/css">
    

    <title>Consulta Kpop</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Haga su consulta</h1>
    </div>

    <div id="content">
      <form action="/cc320114/consulta3/" method="post">
         {% csrf_token %}
          <fieldset>
              <legend> Ingresar datos </legend>
              <!-- Text input-->
              <div>
                  <label>Género: male/female/coed (Masculino/Femenino/Mixto) <br>
                    <input type="text" name="gender" id="gender" class="form-control" minlength="2" maxlength="80" required><br>
                  </label>
                  <label>Compañía: <br>
                    <input type="text" name="company" id="company" class="form-control" minlength="2" maxlength="80" required><br>
                  </label>
              </div>
              <br>
              <!-- Button -->
              <div>
                  <input class="submit" type="submit" value="Consultar">
              </div>

          </fieldset>
      </form>
  </div>
</body>
</html>